[submodule "packages/mcmc"]
	path = packages/mcmc
	url = https://github.com/nanometaml/mcmc.git
	branch = pt_migrate
[submodule "packages/polytensor"]
	path = packages/polytensor
	url = https://github.com/btrainwilson/polytensor.git
