[submodule "packages/mcmc"]
	path = docs/source/mcmc
	url = https://github.com/nanometaml/mcmc.git
	branch = pt_migrate
[submodule "packages/polytensor"]
	path = docs/source/polytensor
	url = https://github.com/btrainwilson/polytensor.git
