p {
    padding: 20px;
    border: 1px solid;
}

h3 {
    border-bottom: 1px solid gray;
}

.nano-button {
    transition-duration: 0.4s;
}

.nano-button:hover {
    border: 1px solid gray;
    color: gold;
    background-color: gray;

}